.error-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 0;
  max-width: 78em;
  min-width: 20em;
  height: 20em;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f8f8f8;
}

.error-heading {
  font-weight: 400;
}

.error-text-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-paragraph {
  padding-top: 20px;
}

.continue-shopping-link {
  text-decoration: none;
  border-bottom: dashed 1px;
  color: black;
}

.continue-shopping-link:hover {
  border-bottom: solid 1px;
}
